 <% comments.each do |comment|%>
  <p>
    <b> <%=comment.user&.email%> </b>
    <%= comment.comments %>
  </p>
  
  <% if current_user == comment.user %>
    <%= link_to "Delete Comment", comment, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %> 
  <% end %>

<% end %>