<%= render partial: 'form/search'%>
<div class="row">
	<div class="col-md-2">
		<% if user_signed_in?%>
			<% @posts.each do |post|%>
				<%if post.post_image.attached? %>
					<div class="card mb-3">
					  <%= image_tag(post.post_image , :size => "300x250") %>
						<div class="card-footer">
						 <%= link_to post.user&.name, profile_path(post.user)%> <br>
					    </div>
					</div>
				<%end%>
			<% end %>
		<%end%>
	</div>
</div>