<nav class="navbar navbar-expand-lg " style="background-color: #333;">
  <div class="collapse navbar-collapse">
    <a class="navbar-brand">Social</a><br>
    
    <% if user_signed_in? %>
      <%= button_to "Home", root_path, method: :delete%>
      <%= button_to "search", new_search_path ,method: :get%>
      <%= button_to "notificatio",new_notification_path ,method: :get %>
       <%= button_to "profile",profile_index_path,method: :get%>
    <% else %>
      
    <% end %>
  </div>
</nav>

