<%@posts.each do |post|%>
  <%if post.post_image.attached? %>
    <p><%= post.content %></p>
    <%= image_tag(post.post_image , :size => "200x150") %>
    <p><strong><%= post.total_likes %>likes</strong>
    <%= link_to "Delete Post", post, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
     <h1>Comments</h1>
     
  <br> 
  <%end%>
  <br>
<% end %>


