
<%@posts.each do |post|%>
  <%if post.post_image.attached? %>
  <p class= 'text-Bold'> posts <%= @posts.count%> </p>
    <p><%= post.content %></p>
    <%= image_tag(post.post_image , :size => "200x150") %>
  
    <span class="likes-count"><%= @post.total_likes%> likes</span>

  <% end %>
<%end%>
 