<h1 style="text-align:center"> your profile</h1>
<%= link_to'Logout', destroy_user_session_path, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } ,class:"btn btn-outline-success my-2 my-sm-0"  %>
<%= current_user.email %>
<%= button_to "post upload",new_post_path,method: :get%>
<h1> posts </h1>
<%= render partial: 'posts/post_show'%>


